// Modify the base color of the theme
$v-background-color: rgb(230, 239, 255);

// Disable animation
$v-animations-enabled: false;

// Import valo after setting the parameters
@import "../valo/valo";

.kumo {
  @include valo;

  .v-widget {
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .v-menubar-borderless {
    border-bottom: 1px solid black;
  }
  // Your theme's rules go here
}

@mixin kumo {

}