@import "kumo";

.kumo {
  @include kumo;
}

.kumoLeftMenu {
  background: url("img/menubackground.png") repeat-x bottom center;
}

// For tables with the .kumoHandPointer class, change the cursor over the header and cells to the
// pointer
.kumoHandPointer .v-table-caption-container {
  cursor: pointer;
}
.kumoHandPointer .v-table-cell-wrapper {
  cursor: pointer;
}

// For tables with the .kumoHeaderOnlyHandPointer class, only change the cursor to pointer for the header
// Used for tables that can be sorted but individual items can't be clicked on
.kumoHeaderOnlyHandPointer .v-grid-header {
  cursor: pointer;
}

// In training mode, set the background so that it's obvious this is the training site
.kumoTrainingMode {
  background: url("img/trainingbackground.png");
}

.kumoNormalMode {
  background: white url("img/logo.png") no-repeat bottom right;
}

.kumoBaseView {
  width: 100%;
  padding-top: .5em;
  border-top: 1px solid gray;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
}

// Modal window positioned in the bottom left corner of the screen
.kumoConfirmationWindow {
  left: 20px;
  top: auto !important;
  right: auto !important;
  bottom: 20px;
}

.kumoReport {
  margin-left: 1em;
}

// Used in reports
.kumo h2 {
  padding-top: .25em !important;
  padding-bottom: .1em !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

// Right-align menuitems (like the logout button)
.v-menubar-menuitem-menuRight {
  float: right;
}