@import "kumo";

.kumo {
  @include kumo;
}

.kumoLeftMenu {
  background: url("img/menubackground.png") repeat-x bottom center;
}

// For tables with the .kumoHandPointer class, change the cursor over the header and cells to the
// pointer
.kumoHandPointer .v-table-caption-container {
  cursor: pointer;
}
.kumoHandPointer .v-table-cell-wrapper {
  cursor: pointer;
}

// For tables with the .kumoHeaderOnlyHandPointer class, only change the cursor to pointer for the header
// Used for tables that can be sorted but individual items can't be clicked on
.kumoHeaderOnlyHandPointer .v-grid-header {
  cursor: pointer;
}

// Modifies the left hand menu when in training mode
.kumoTrainingMode {
  background: url("img/trainingbackground.png");
}

// Modal window positioned in the bottom left corner of the screen
.kumoConfirmationWindow {
  left: 20px;
  top: auto !important;
  right: auto !important;
  bottom: 20px;
}